# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\05.workSpace\02.Java\CloudProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
